{% extends 'base.html' %}

{% block content %}
    <h1>{{ community.name }}</h1>
    <p>{{ community.description }}</p>
    <a class="btn btn-primary btn-sm" href="{% url 'list_communities' %}">Back to Communities</a>
{% if not user_is_member %}
    <hr>
    <h2>Join the Community to Add Posts and Comments!</h2>
    <a class="btn btn-success btn-sm" href="{% url 'join_community' community.id %}">Join Now!</a>
    <br/><hr><br/>
    
{% else %}
    {% if not user_is_admin %}
    <a class="btn btn-danger btn-sm" href="{% url 'leave_community' community.id %}">Leave Community</a>
    <br/><hr>
    {% endif %}
    {% if user_is_admin %}  
    <a class="btn btn-warning btn-sm" href="{% url 'manage_community' community.id %}">Manage Community (Admin)</a>
    <br/><br/>
    {% endif %}
        <br/>
        <p><b>Choose a template & create a post here!</b></p>
        <select id="templateSelect" onchange="updateCreatePostLink()">
        {% for template in templates %}
        <option value="{{ template.id }}">{{ template.title }}</option>
        {% empty %}
        <option>No available templates</option>
        {% endfor %}
        </select>
        <a id="createPostLink" class="btn btn-success btn-sm" href="{% url 'create_post' community.id 0 %}">Create Post</a>
        <br/><br/><br/>
{% endif %}
    {% for post in posts %}
    <li> <b>Title: </b>{{ post.title }}
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDescription: </b> {{ post.description|slice:":150" }}</p>
        <a class="btn btn-secondary btn-sm" href="{% url 'view_post' community.id post.id %}">View</a>
        <br/><br/><br/>
    </li>
    {% empty %}
    <li>No posts available in this community.</li>
    {% endfor %}
  <script>
    function updateCreatePostLink() {
        var selectedTemplateId = document.getElementById('templateSelect').value;
        var link = document.getElementById('createPostLink');
        link.href = "{% url 'create_post' community.id '0' %}".replace('0', selectedTemplateId);
    }
    document.addEventListener('DOMContentLoaded', function() {
        updateCreatePostLink(); // Update link on page load
    });
    </script>

{% endblock %}
