{% extends 'base.html' %}

{% block content %}
    <h2>Create Post</h2>
    <br/><br/>
    <h3> {{ template.title }} </h3>
    <p> {{ template.description }} </p>
    <br/>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        {{ form.as_p }}
        
        <input type="submit" value="Post" class="btn btn-success">
    </form>
{% endblock %}