{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <article>
                <center>
                <h2>Are you sure you want to delete your profile?</h2>
                <br/>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete My Profile</button>
                    <a href="{% url 'view_user' user.id %}" class="btn btn-success">Back to My Profile</a>
                    <br/><br/>
                </form>
                </center>
            </article>
        </div>
    </div>
</div>
{% endblock %}