{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <article>
                <h1>Title: {{ post.title }}</h1>
                <p>Created by <b>{{ post.created_by }}</b></p>
                {% if post.created_by == request.user or request.user == post.community.admin %}
                    <a class="btn btn-warning btn-sm" href="{% url 'edit_post' community.id post.id %}">Edit Post</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_post' community.id post.id %}">Delete</a>
                {% endif %}
                <br/><br/>
                <section>
                    <ul>
                        {% for key, value in post.data.items %}
                            {% if key == 'image' and value %}
                            <img src="{{ MEDIA_URL }}{{ value }}" alt="{{ key }}" style="max-width: 200px; max-height: 200px;"><br/>
                            {% elif key == "color" and value %}
                            {{ key }} :
                            <span class="color-box" style="background-color: {{ value }};"></span><br/>
                            {% else %}
                            <li><b>{{ key }}: </b> {{ value }}</li>
                            {% endif %}
                            <br/>
                        {% endfor %}
                    </ul>
                </section>

                <section>
                    <br/><hr><br/>
                    <h3>Comments:</h3>
                    <ul>
                        {% if comments %}
                            {% for comment in comments %}
                                <li><b>{{ comment.user.username }}</b>: {{ comment.content }}</li>
                            {% endfor %}
                        {% else %}
                        <p>Currently, no comment exists for this post!</p>
                        {% endif %}
                    </ul>
                    <br/><hr>
                {% if user_is_member %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-sm" >Add Comment</button>
                        <br/><br/>
                    </form>
                </section>
                {% endif %}
                <footer>
                    <p><b>Posted in:</b> {{ post.community.name }}</p>
                    
                    <a class="btn btn-primary btn-sm" href="{% url 'community_content' community.id %}">Back to Community</a>
                    <br/><br/>
                </footer>
            </article>
        </div>
    </div>
</div>
{% endblock %}