{% extends 'base.html' %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    
    <section>
        <ul>
            {% for key, value in post.data.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </section>
    
    <footer>
        <p>Posted in: {{ post.community.name }}</p>
        <br/><br/>
        <a class="btn btn-secondary btn-sm" href="{% url 'community_content' community.id %}">Back to Community</a>
    </footer>
</article>
{% endblock %}