{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <h1> Your Profile </h1>
                <br/>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <br/>
                    <input type="submit" value="Save Changes" class="btn btn-secondary"><br/><br/>
                    <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete My Profile</a>
                </form>

            {% else %}
            <h1>Sorry! You must be logged in to view this page!</h1> <br/>
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}